@import "../../styles/mixins.scss";


.sideVideo {
    display: flex;
   


    &__img {
        width: 41%;
        height: 70px;
        margin: 0rem 0.5rem 1.5rem 0;
    }

    &__description {
      @include fontSize(13px);

      &--title {
          text-align: left;
          font-weight: bold;
          margin-bottom: 0.5rem;
      }

      &--channel {
        text-align: left;
      }
    }


}