@import '../../styles/mixins.scss';


.MainVideo {
    position: relative;
   
    @include tablet {
        background-color: black;
    }

    &__video {
      width: 100%;
      //height: 183px;
      object-fit: contain;
      
      @include tablet {
        padding: 0 2.125rem 0 2.125rem;
        background-color: black;
         
      }

      @include desktop {
        padding: 0 15.5rem 0 15.5rem;
        background-color: black;
      }

    }

    &__video-btnContainer {
       width: 90%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       position: absolute;
       top: 75%;
       margin-left: 1rem;
       margin-right: 1rem;
       @include tablet {
           margin: 0 2.625rem 1rem 2.625rem;
           top: 85%;
       }
    
      @include desktop {
          width: 63.3%;
          margin:0 16.5rem 0 16.5rem;
          top: 90%;
      }
      

       .playBtn {
        width: 1.2rem;
        height: 1.2rem;
        
       }

       .playBtn-background {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 2rem;
        background-color:rgba(0,0,0,0.5);
        border-radius: 4px;

       }
       .progressBar {
           width: 45%;
           height: 2rem;
           background-color: black;
           border-radius: 4px;
           opacity: 0.5;
           @include tablet {
            width: 75%;
            margin-right: 1rem;
            margin-left: 1rem;
           }
           @include desktop {
             width: 82.4%;
           }
          
       }


       .volumeBtn {
        width: 1.2rem;
        height: 1.2rem;
        
       }

       .loaderBtn {
        width: 1.1rem;
        height: 1.1rem;
       }

       .loader-volume-background {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 5rem;
        height: 2rem;
        background-color:rgba(0,0,0,0.5);
        
        border-radius: 4px;

       }

     }

   
    
        
    
   

}