@import "../../styles/mixins.scss";

@font-face {
    font-family: 'Avenir';
    src: url('../../Font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Avenir-bold';
    src: url('../../Font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Bold.otf') format('opentype');
}

* {
    font-family: 'Avenir';
}


.uploadVideo {


    @include desktop {
        margin: 3rem 11.25rem 0rem 11.25rem;
        padding-bottom: 30rem;
    }

    
    &__topTitle {
        font-family: Avenir-bold;
        box-sizing: border-box;
        padding: 1.5rem 0 2rem 1rem;
        margin: 0;

        @include tablet {
            @include fontSize(36px, bold, 44px);
            margin: 3rem 1.5rem 0rem 1.5rem;
            padding: 0 0 2rem 0rem;
            border-bottom: 2px solid $gray-mercury-color;    
        }
      
        @include desktop {
            @include fontSize(60px, bold, 68px);
            
            padding: 0 0 2rem 0rem;
            border-bottom: 2px solid $gray-mercury-color;    
        }
       

    }
  

    .img-wrapper {
        @include desktop {
            width: 31.8%;
            
        }
    }
    
    .img-form-wrapper {
        @include desktop {
            padding-top: 2rem;
            display: flex;
        }
    }

    &__subTitle {
        margin: 0 0 0.5rem 1rem;
        color: $gray-text-color;
        @include tablet {
            margin: 2.5rem 0 0.5rem 1.5rem;
        }
        @include desktop {
            margin-left: 0;
        }

        
       
    }

    &__thumbnail {
        height: 153px;
        width: 100%;
    
    
        &--img {
            width: 90%;
            margin: 0 1rem 2rem 1rem;
            @include tablet {
                margin: 0 0 2.5rem 1.5rem;
                width: 45%;
                height: 183px;
            }

            @include desktop {
                width: 100%;
                height: 183px;
                margin: 0 1.5rem 2rem 0;
                // border-bottom: 2px solid $gray-mercury-color;
            }
        }
    
    }


    &__form {

       margin: 0 1rem 0.5rem 1rem;
       @include tablet {
         margin: 0 1.5rem 8rem 1.5rem;
       }

       @include desktop {
           width: 66%;
           margin-right: 0;
       }


        &--lableTop {
            display: flex;
            flex-direction: column;
            color: $gray-text-color;
            text-transform: uppercase;
            @include fontSize(13px, bold, 18px);
        

       .inputTitle {
           height: 3rem;
           border: 1px solid #E1E1E1;
           border-radius: 4px;
           background-color:  #FAFAFA;
           margin-top: 0.2rem;
           margin-bottom: 1.5rem;
           }
       }


       &--lableBottom {
        display: flex;
        flex-direction: column;
        color: $gray-text-color;
        text-transform: uppercase;
        @include fontSize(13px, bold, 18px);
        @include tablet {
            border-bottom: 1px solid $gray-mercury-color;
        }

       .inputDescription {
        height: 143px;
        border: 1px solid #E1E1E1;
        border-radius: 4px;
        background-color:  #FAFAFA;
        margin-top: 0.2rem;
        margin-bottom: 2rem;
        @include tablet {
            margin-bottom: 2.5rem;
        }
        @include desktop {
            height: 94px;
        }
       }

    }   
    
       &--button {
        @include fontSize(14px,bold,18px);
        width: 100%;
        color: #fff;
        background-color: #0095FF;
        height: 3.5rem;
        border-radius: 4px;
        @include tablet {
            width: 22.5%;
        }
        @include desktop {
            width: 22.5%;
        }
       }

       &--cancelButton {
        @include fontSize(14px,bold,18px);
        width: 100%;
        color: #0095FF;
        // background-color:#fff;;
        height: 3.5rem;
        @include tablet {
            width: 24.4%;
        }
        @include desktop {
            width: 24.4%;
        }
       
       }


       .button-wrapper {
           @include tablet {
               position: relative;

               .uploadVideo__form--button {
                   position: relative;
                   top: 40px;
                   left: 77.2%;
                   
               }

               .uploadVideo__form--cancelButton {
                width: 10%;
                padding: 0;
                position: relative;
                margin-right: 3rem;
                top: 40px;
                left: 38.8%;
               }
           }

           @include desktop {
            position: relative;

            .uploadVideo__form--button {
                position: relative;
                top: 40px;
                left: 77.2%;
                
            }

            .uploadVideo__form--cancelButton {
             width: 10%;
             padding: 0;
             position: relative;
             margin-right: 3rem;
             top: 40px;
             left: 38.8%;
            }
        }



       }

    }
}







